<h1 class = "animated fadeIn">
  Sobre comic app
</h1>

<p class="animated fadeIn fast">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate turpis vitae nisl dapibus pharetra. Aliquam lorem nunc, varius a lorem at, condimentum sollicitudin mauris. Integer molestie eget sem eget euismod. Integer at nibh sit amet ipsum eleifend pretium et in ipsum. Donec dui nibh, dapibus a gravida pharetra, mollis eu elit. Sed placerat metus felis, id blandit purus tempor sit amet. Sed tincidunt efficitur iaculis. Praesent feugiat sit amet ex vitae ornare. Aliquam est erat, placerat quis augue vitae, semper vehicula tortor. Etiam posuere elit et sodales tristique. Morbi tellus augue, commodo at augue a, facilisis euismod dolor. Donec in commodo mauris, quis iaculis lorem. Maecenas convallis mi at nulla tincidunt, et rhoncus erat ullamcorper. Duis gravida neque id vehicula posuere. Quisque diam neque, finibus in diam finibus, tempor porttitor erat. Proin et vehicula odio.
</p>
